<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/common :: head"></th:block> /*/-->
    <title>Error</title>
</head>
<body>
<div class="container">
    <h1>Error</h1>
    <th:block th:include="fragments/common :: login"/>
    <div class="alert alert-danger">
        <strong><span th:text="${exceptionClass}">Exception</span></strong>: <span th:text="${exceptionMessage}">Message</span>
    </div>
</div>
<th:block th:include="fragments/common :: scripts"/>
</body>
</html>