<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/common :: head"></th:block> /*/-->
    <title>Welcome</title>
</head>
<body>
<div class="container">
    <h1>Demo</h1>
</div>
<!--/*/ <th:block th:include="fragments/common :: login"></th:block> /*/-->
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Service</th>
            <th>Requires Login</th>
        </tr>
        </thead>
        <tr>
            <th scope="row"><a href="/public/manifest">Manifest</a></th>
            <th>No</th>
        </tr>
        <tr>
            <th scope="row"><a href="/private/user">User</a></th>
            <th>Yes</th>
        </tr>
    </table>
</div>
<!--/*/ <th:block th:include="fragments/common :: scripts"></th:block> /*/-->
</body>
</html>